In [1]:
import numpy as np
import pandas as pd

In [2]:
#struktura series
obj = pd.Series([4,11,-5,67])
obj

In [3]:
type(obj)

pandas.core.series.Series

In [4]:
npobj = obj.to_numpy()
npobj

In [5]:
type(npobj)

numpy.ndarray

In [7]:
seria = np.array([6,3,7,3,89,48,9])
pdser = pd.Series(seria,index=['a','b','c','d','x','y','z'])
pdser

In [8]:
pdser[pdser>11]

In [9]:
pdser*3

In [10]:
'a' in pdser

True

In [13]:
miasta = ['Rzeszów','Krosno','Wrocław']
citypd = pd.Series(miasta)
citypd

In [15]:
#struktura DataFrame
dataf = {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,2.93,0.85,0.88,0.91]
}


frame = pd.DataFrame(dataf)

In [16]:
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,2.93
3,Kraków,2018,0.85
4,Kraków,2019,0.88
5,Kraków,2020,0.91

In [18]:
frame2 = pd.DataFrame(dataf,columns = ['rok','miasto','populacja','współczynnik wagi'],
                      index = ['jeden','drugi','trzeci','czwarty','piąty','szósty'])

In [19]:
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,NaN
drugi,2018,Warszawa,2.75,NaN
trzeci,2019,Warszawa,2.93,NaN
czwarty,2018,Kraków,0.85,NaN
piąty,2019,Kraków,0.88,NaN
szósty,2020,Kraków,0.91,NaN

In [20]:
frame2['współczynnik wagi'] = 24.2
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,24.2
drugi,2018,Warszawa,2.75,24.2
trzeci,2019,Warszawa,2.93,24.2
czwarty,2018,Kraków,0.85,24.2
piąty,2019,Kraków,0.88,24.2
szósty,2020,Kraków,0.91,24.2

In [21]:
frame2['współczynnik wagi'] = [24.2,17.5,30.8,28.7,21.4,45]
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,24.2
drugi,2018,Warszawa,2.75,17.5
trzeci,2019,Warszawa,2.93,30.8
czwarty,2018,Kraków,0.85,28.7
piąty,2019,Kraków,0.88,21.4
szósty,2020,Kraków,0.91,45.0

In [22]:
frame2["procent"] = frame2["populacja"]/frame2["populacja"].sum()*100
frame2

,rok,miasto,populacja,współczynnik wagi,procent
jeden,2017,Warszawa,2.70,24.2,24.500907
drugi,2018,Warszawa,2.75,17.5,24.954628
trzeci,2019,Warszawa,2.93,30.8,26.588022
czwarty,2018,Kraków,0.85,28.7,7.713249
piąty,2019,Kraków,0.88,21.4,7.985481
szósty,2020,Kraków,0.91,45.0,8.257713

In [28]:
daty = pd.date_range("20250314",periods=6)
daty

DatetimeIndex(['2025-03-14', '2025-03-15', '2025-03-16', '2025-03-17',
               '2025-03-18', '2025-03-19'],
              dtype='datetime64[ns]', freq='D')

In [32]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2025-03-14,-2.143181,-1.042835,-1.123064,0.134248
2025-03-15,-0.525514,0.515979,0.569064,1.201588
2025-03-16,0.544303,0.648456,-0.472280,-0.328012
2025-03-17,-0.468781,1.287396,0.317540,-0.605930
2025-03-18,0.689300,0.425445,-0.810235,0.162561
2025-03-19,-1.174146,-0.951121,-0.609037,0.653792

In [33]:
alfa = "ABCDEFXTHY"
print(alfa)

ABCDEFXTHY

In [34]:
print(alfa[5])

F

In [35]:
print(alfa[2:6])

CDEF

In [36]:
fr.head(3)

,A,B,C,D
2025-03-14,-2.143181,-1.042835,-1.123064,0.134248
2025-03-15,-0.525514,0.515979,0.569064,1.201588
2025-03-16,0.544303,0.648456,-0.472280,-0.328012

In [38]:
fr.tail(2)

,A,B,C,D
2025-03-18,0.689300,0.425445,-0.810235,0.162561
2025-03-19,-1.174146,-0.951121,-0.609037,0.653792

In [39]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,-0.513003,0.147220,-0.354669,0.203041
std,1.063967,0.936719,0.660553,0.654690
min,-2.143181,-1.042835,-1.123064,-0.605930
25%,-1.011988,-0.606979,-0.759935,-0.212447
50%,-0.497148,0.470712,-0.540659,0.148405
75%,0.291032,0.615337,0.120085,0.530984
max,0.689300,1.287396,0.569064,1.201588

In [43]:
fr.sort_index(axis=1,ascending=False)

,D,C,B,A
2025-03-14,0.134248,-1.123064,-1.042835,-2.143181
2025-03-15,1.201588,0.569064,0.515979,-0.525514
2025-03-16,-0.328012,-0.472280,0.648456,0.544303
2025-03-17,-0.605930,0.317540,1.287396,-0.468781
2025-03-18,0.162561,-0.810235,0.425445,0.689300
2025-03-19,0.653792,-0.609037,-0.951121,-1.174146